header {
  @extend %centered;
  overflow: hidden;
  line-height: 1.5;
  background: $color-sec;
  padding-bottom: 20px;
  @media #{$brk-narrow} {
    padding-bottom: 30px;
	& p {
	  text-align: left;
	  margin-top: 25px;
	}
  }
  @media #{$brk-wide} {
    padding-bottom: 40px;
	& p {
	  margin-top: 90px;
      width: 45%;
	}
  }
}