#codeconSkills {
    font-size: 1em;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 30px;
    width: 80%;
    border-top: 1px solid #acacac;
        @media #{$brk-wide} {
          background: $color-prim;
          width: 93%;
        }
}
#codeconSkills img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.codeconSkillbar {
    width: 100%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
        @media #{$brk-wide} {
          width: 90%;
        }
}
#codeconHTML {
    width: 90%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: $skills-html;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}
#codeconCSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: $skills-css;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 80%}
}
#codeconjQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: $skills-jquery;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 70%}
}
#codeconJS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 75%;
    height: 50px;
    position: absolute;
    background-color: $skills-js;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 75%}
}
.codeconSkillArea {
    @include text(1.1em, initial, $color-text-white);
    z-index: 1;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    font-family: 'Lato', sans-serif;
}
.PercentText {
    @include text(1.1em, initial, $color-text-white);
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    font-family: 'Lato', sans-serif;
}